/* font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Dongle', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Yellowtail', cursive; */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    margin: 0 auto;
}
/* Navbar Section************************ */
#navbar {
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    height: 3rem;
    font-size: 1.5em;
    font-weight: 400;
    padding-right: 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: #241E0E;
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar a:hover {
    border-top: 3px #241E0E solid;
    border-bottom: 3px white solid;
}
#landingpage {
    background-image: url(sunrise.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.mainitem {
    width: 35%;
    margin: 1rem;
}
#hero img{
    width: 80%;
    border-radius: 50%;
}
#summary h1{
    font-size: 3em;
}
#summary h4{
    text-align: center;
    font-size: 1em;
    margin-top: 3rem;
}
#summary button{
    background-color: #241E0E;
    padding: .2rem 1rem;
    font-size: 1.2rem;
}
#summary a {
    text-decoration: none;
    color: white;
}



/* Contact Section************************ */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 18rem;
    padding: 0 2rem 1rem 2rem;
    color: #FFE754;
    background: #241E0E;
}
.contact-section-header > h2 {
    font-size: 3rem;
}
.contact-links {
    margin-top: 2rem;
}
.contact-links a {
    text-decoration: none;
    color: white;
    padding: 2rem 0.8rem;
    font-size: 2rem;
}