/* font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Dongle', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Yellowtail', cursive; */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    margin: 0 auto;
}
@font-face {
    font-family: "Outline";
    src: url("../Personal-Portfolio/Elephant-Outline.woff") format("woff");
    src: url("/Elephant-Outline.woff") format("woff");
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(65%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes wait {
    from { transform: translateY(20px); }
    to { transform: translateY(20px); }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes arrow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}
@keyframes disappearL{
    0% {
        width: 5rem;
        left: -50%;
    }
    100% {
        width: 0;
        left: -8%
    }
}
@keyframes disappearLsmall{
    0% {
        width: 5rem;
        left: -58%;
    }
    100% {
        width: 0;
        left: -10%
    }
}
@keyframes disappearR{
    0% {
        width: 5rem;
        left: 125%;
    }
    100% {
        width: 0;
        left: 125%
    }
}
/* Navbar Section*******************************************/
#navbar {
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    height: 4rem;
    font-size: 1.5em;
    font-weight: 400;
    padding-right: 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgb(29, 29, 29);
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar a:hover {
    border-top: 2px #241E0E solid;
    border-bottom: 2px white solid;
    z-index: 10;
}
/* Main Landing Page Section********************************/
#landingpage {
    background: rgb(255,219,136);
    background: linear-gradient(0deg, rgba(255,219,136,1) 0%, rgba(69,113,176,1) 60%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position: relative;
}
#summary {
    width: 45%;
}
#name{
    font-family: "Outline";
    font-weight: 300;
    font-size: 6rem;
    color: white;
    z-index: 1;
}
#summary h1{
    font-size: 4rem;
    color: black;
}
.title {
    position: relative;
}
.title::after{
    content: "";
    display: block;
    width: 11.5rem;
    height: .5rem;
    background-color: black;
    -webkit-transition: all ease-out 1200ms;
    -moz-transition: all ease-out 1200ms;
    transition: all ease-out 1200ms;
    position: absolute;
    top: 95%;
    left: 64%;
    animation: 2.5s ease-out 0s 1 slideInFromRight;
}
.title:hover::after{
    left: 90%;
}
#summary h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.trans_btn{
    margin-top: 2rem;
    background-color: transparent;
    text-align: center;
    width: 15rem;
    height: 3.5rem;
    padding: .2rem 1rem;
    font-size: 1.4rem;
    border: 3px white solid;
    position: relative;
    z-index: 1;
}
.trans_btn a {
    text-decoration: none;
    color: white;
    z-index: 1;
}
.trans_btn:hover{
    letter-spacing: 2px;
    transition: all ease-out 900ms;
}
.trans_btn a:hover {
    color: white;
}
.trans_btn::before{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: white;
    -webkit-transition: all ease-out 1200ms;
    -moz-transition: all ease-out 1200ms;
    transition: all ease-out 1200ms;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 100;
}
.trans_btn:hover::before{
    width: 3rem;
}
.trans_btn::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: white;
    -webkit-transition: all ease-out 1200ms;
    -moz-transition: all ease-out 1200ms;
    transition: all ease-out 1200ms;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 1;
}
.trans_btn:hover::after{
    width: 3rem;
}
.fade {
    position: relative;
}
.btn__link {
    position: relative;
}
.fade::before{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    position: absolute;
    top: 50%;
    left: -40%;
    animation: disappearL linear 0.8s;
    z-index: 1;
}
.btn__link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 108%;
    animation: disappearR linear 0.8s;
    z-index: 1;
}
.summaryend{
    position: relative;
    z-index: 1;
}
#summary h4{
    font-size: 1.2em;
    margin-top: 4.5rem;
    line-height: 1.8;
}
.fa-quote-left {
    position: absolute;
    display: inline-block;
    top: -10%;
    left: -2%;
    color: rgb(221, 221, 221);
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
.fa-quote-right {
    color: rgb(221, 221, 221);
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
#hero {
    width: 35%;
    display: grid;
    place-content: center;
}
#hero img{
    width: 90%;
    border-radius: 50%;
    margin: 0 auto;
}
.arrow, .arrow:before {
    position: absolute;
    left: 50%;
}
.arrow {
    width: 40px;
    height: 40px;
    top: 94%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 4px #fff solid;
    border-bottom: 4px #fff solid;
    z-index: 1;
}
.arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 3px #fff solid;
    border-bottom: 3px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
    display: block;
    position: relative;
    z-index: 1;
}
.arrow a{
    position: absolute;
    top:0px;
    left: 0px;
    width: 50px;
    height: 50px;
    display: block;
    z-index: 10;
}
/*Work Projects Section************************************/
#mywork {
    background-color: black;
    color: white;
    padding: 5rem 5rem 10rem 5rem;
}
#mywork h1 {
    font-size: 5rem;
    text-align: center;
}
#mywork span{
    z-index: 1;
    position: relative;
    font-family: "Outline";
    font-weight: 300;
}
.projects__title {
    position: relative;
}
.projects__title::after{
    content: "";
    display: block;
    width: 11.5rem;
    height: .5rem;
    background-color: white;
    -webkit-transition: all ease-out 1200ms;
    -moz-transition: all ease-out 1200ms;
    transition: all ease-out 1200ms;
    position: absolute;
    top: 95%;
    left: 51%;
    animation: 2.5s ease-out 0s 1 slideInFromRight;
}
.projects__title:hover::after{
    left: 90%;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
    margin-top: 3rem;
}
.projects a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}
.project__card{
    width: 26rem;
    height: 26rem;
    background-color: rgb(255,219,136);
    border: 2px whitesmoke solid;
    padding-top: 4rem;
    position: relative;
}
.inner__card{
    width: 100%;
    height: 100%;
    background: linear-gradient(155deg, rgba(0,0,0,0) 0%, rgba(69,113,176,0.35) 25%, rgba(255,219,136,0.6) 50%, rgba(69,113,176,0.6) 75%, rgba(0,0,0,0.5) 100%);
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 500% 500%;
    transition: 1s;
}
.project__card:hover .inner__card{
    background-position: 100% 100%;
}
.inner__contents {
    bottom: 2rem;
    visibility: hidden;
    width: 20rem;
}
.project__card:hover .inner__contents{
    visibility: visible;
}
#fairweather {
    background-image: url(fairweather.png);
    background-size: cover;
    background-position: center;
    color: white;
}
#undersun {
    position: relative;
    color: white;
}
#undersun::before {    
    content: "";
    background-image: url(undersunpng.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
#undersun:hover::before {
    opacity: 0.9;
}
#github {
    background-image: url(github.png);
    background-size: cover;
    background-position: center;
    color: white;
}
#inner__fairweather {
    font-size: 1.5em;
    padding-top: 8rem;
    margin: 0 auto;
    text-align: center;

}
#inner__undersun {
    font-size: 1.5em;
    padding-top: 8rem;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
#inner__github {
    font-size: 2em;
    padding-top: 20rem;
    margin: 0 auto;
    text-align: center;
}
#builtwith__fairweather{
    font-size: 1.4rem;
    margin-top: 1.5rem;
}
#builtwith__undersun{
    font-size: 1.4rem;
    margin-top: 6rem;
}
/*About Section********************************************/
#about {
    background-color:  rgba(69,113,176,1);
    color: white;
    font-size: 1em;
}
.about__main {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.full__about {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1400px;
    padding-bottom: 5rem;
}
.about__center h1{
    padding: 4rem 0 3rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
}
#about span{
    z-index: 1;
    position: relative;
    font-family: "Outline";
    font-weight: 300;
}
.about__title::after{
    content: "";
    display: block;
    width: 11.5rem;
    height: .5rem;
    background-color: rgb(255,219,136);
    -webkit-transition: all ease-out 1200ms;
    -moz-transition: all ease-out 1200ms;
    transition: all ease-out 1200ms;
    position: absolute;
    top: 95%;
    left: 92%;
    animation: 2.5s ease-out 0s 1 slideInFromRight;
}
.about__title:hover::after{
    left: 115%;
}
.about__section {
    display: flex;
    justify-content: space-between;
}
.career__image {
    width: 40%;
    display: grid;
    place-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#techs {
    height: 50vh;
    object-fit: contain;
}
.career__text {
    width: 50%;
}
.personal__text {
    width: 50%;
    height: 20rem;
}
.personal__image {
    width: 40%;
    display: grid;
    place-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#RVtrip {
    height: 50vh;
    object-fit: contain;
}
.full__about h3 {
    padding: 1rem 0;
}
.aboutheader {
    font-size: 2rem;
}
/*Contact Section******************************************/
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 18rem;
    padding: 0 2rem 1rem 2rem;
    color: rgb(255,219,136);
    background: rgb(29, 29, 29);
}
.contact-section-header > h2 {
    font-size: 3rem;
}
.contact-links {
    margin-top: 2rem;
}
.contact-links a {
    text-decoration: none;
    color: white;
    padding: 2rem 2rem;
    font-size: 2rem;
}
/*Media Query Section**************************************/
@media only screen and (max-width: 1400px){
    #summary h1{
        font-size: 3.3em;
    }
    #name{
        font-size: 5rem;
    }
    #summary h3{
        font-size: 1.4em;
    }
    #summary h4{
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 1160px){
    #summary h1{
        font-size: 3em;
    }
    #name{
        font-size: 4.3rem;
    }
    #summary h3{
        font-size: 1.2em;
        margin-bottom: 1rem;
    }
    #summary h4{
        font-size: 1em;
    }
    .title::after, .projects__title::after, .about__title::after{
        width: 9.5rem;
    }
    .trans_btn{
        width: 13rem;
        height: 3rem;
        padding: .2rem 1rem;
        font-size: 1.2rem;
    }
    .fade::before{
        animation: disappearLsmall linear 0.8s;
    }
    .about__title::after{
        left: 100%;
    }
    #techs {
        height: 45vh;
    }
    #about{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 1020px){
    #summary h1{
        font-size: 2.7em;
    }
    #name{
        font-size: 3.7rem;
    }
    #summary h3{
        font-size: 1.2em;
        padding-top: 0.8rem;
    }
    #summary h4{
        font-size: 1em;
    }
    .title::after, .projects__title::after, .about__title::after{
        width: 7.5rem;
    }
    .fa-quote-left {
        font-size: 1.5em;
    }
    #mywork {
        background-color: black;
        color: white;
        padding: 3rem 5rem 6rem 5rem;
    }
    #mywork h1, .about__center h1 {
        font-size: 4rem;
    }
    .about__section {
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
    }
    .about__section2 {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}
@media only screen and (max-width: 880px){
    #navbar {
        gap: 20px;
        height: 3rem;
        font-size: 1.2em;
        font-weight: 400;
        padding-right: 20px;
        z-index: 10;
    }
    #landingpage {
        flex-direction: column;
    }
    #summary {
        width: 65%;
        padding-top: 4rem;
    }
    #hero {
        width: 40%
    }
    .summaryend {
        display: none;
    }
    .button__center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about{
        font-size: 0.8rem;
    }
    .aboutheader {
        font-size: 1.5rem;
    }
    .contact-section-header > h2 {
        font-size: 2.5rem;
    }
    .contact-links a {
        padding: 2rem 1rem;
        font-size: 1.5rem;
    }
    #techs {
        height: 35vh;
    }
}
@media only screen and (max-width: 620px){
    #navbar {
        gap: 10px;
        height: 3.5rem;
        font-size: 1.1em;
        font-weight: 400;
        padding-right: 10px;
    }
    #hero {
        width: 50%;
    }
    #summary h1{
        font-size: 2.2em;
    }
    #name{
        font-size: 3rem;
    }
    .title::after, .projects__title::after, .about__title::after{
        width: 6rem;
        height: 0.4rem;
    }
    #summary h3{
        font-size: 1.1em;
    }
    #mywork h1, .about__center h1 {
        font-size: 3rem;
    }
    .contact-section {
        height: 22rem;
        padding-top: 2rem;
    }
    .contact-links{
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
    }
    .contact-section-header > h2 {
        font-size: 2rem;
    }
    .contact-links a {
        padding: 1rem 1rem 1rem 0rem;
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 510px){
    #navbar {
        display: flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        padding-right: 0;
    }
    #summary {
        width: 75%;
        padding-top: 3rem;
    }
    #hero {
        width: 65%;
    }
    #summary h1{
        font-size: 1.8em;
    }
    #name{
        font-size: 2.5rem;
    }
    .title::after, .projects__title::after, .about__title::after{
        width: 4.7rem;
    }
    #summary h3{
        font-size: 1em;
        margin-bottom: 2rem;
        padding-top: 1rem;
    }
    #mywork h1{
        font-size: 2.5rem;
    }
    .about__center h1 {
        font-size: 2.3rem;
    }
    .project__card{
        width: 20rem;
        height: 20rem;
        padding-top: 1rem;
    }
    #inner__fairweather {
        font-size: 1.2em;
        padding: 6rem 1rem 1rem 1rem;
    }
    #inner__undersun {
        font-size: 1.2em;
        padding: 6rem 1rem 1rem 1rem;
    }
    #inner__github {
        font-size: 1.6em;
        padding-top: 8.4rem;
    }
    #builtwith__fairweather{
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    #builtwith__undersun{
        font-size: 1rem;
        margin-top: 3rem;
    }
    .contact-section {
        height: 24rem;
    }
}
@media only screen and (max-width: 510px) and (orientation: landscape){

}